@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

h1 {
	@apply text-6xl font-bold;
}

h2 {
	@apply text-3xl font-bold;
}

h3 {
	@apply text-2xl font-normal;
}

hr {
	@apply text-gray;
}

body {
	@apply text-white;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.black-glass {
	background: rgba(0, 0, 0, 0.33);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 2rem 2rem 0 0;
	border: #000 solid 2px;
}

/* 
* {
	color: #fff3e9;
	font-family: 'Lato', sans-serif;
}

h1 {
	margin: 0;
	font-size: 5rem;
}

h2 {
	margin: 0;
	font-size: 4rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 2rem;
	font-weight: normal;
}

h5 {
	font-size: 1.5rem;
	font-weight: bold;
}

p {
	margin: 1.5rem, 0;
}

a {
	color: #fff3e9;
}

hr {
	color: #777;
	width: 80%;
}

button {
	margin: 1rem;
	padding: 1rem 0.5rem;
	border-radius: 12px;
	border: 0;
	background: rgba(255, 255, 255, 0.1);
	-webkit-box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.2);
	font-size: 2rem;
} */
