body {
	margin: 0;
	padding: 0;

	color: #fff3e9;
	font-family: 'Lato', sans-serif;
}

#content {
	background: rgba(0, 0, 0, 0.75);
	backdrop-filter: blur(4px);
}

h1 {
	margin: 0;
	font-size: 8rem;
}

h2 {
	margin: 0;
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2rem;
	font-weight: normal;
}

p {
	margin: 1rem, 0;
}

hr {
	color: #777;
	width: 80%;
}

button {
	margin: 1rem;
	padding: 1rem 0.5rem;
	border-radius: 12px;
	/* box-shadow: 4px 4px dodgerblue; */
	font-size: 1.5rem;
	font-weight: bold;
}

img {
	box-shadow: 8px 8px dodgerblue;
}
